body {
    text-align: center;
}

#file-input button:not(:first-child), 
#file-input input {
    margin-left: .5em;
}

#core {
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

#core pre {
    background-color: lavender;
    border: 1px solid lightgrey;
    tab-size: 2;
    text-align: left;
    width: 500px;
}

#core form {
    margin-top: 1em;
    width: 350px;
}

#core pre {
    width: 350px;
}

#core form label {
    color: black;
    display: block;
    font-size: smaller;
    font-weight: bold;
    text-align: left;
    margin-left: .5em;
    border: 1px solid;
}

#core form input, 
#core form button,
#core form select {
    margin: .125em;
}

#core form .add-btn {
    margin: .25em .5em;
}

#add {
    /* display: none !important; */
    margin-top: 1em;
    padding: .5em;
    border: 1px solid;
    width: 240px;
}

#add input,
#add select {
    display: block;
}