body {
    text-align: center;
}

#header button:not(:first-child), #header input {
    margin-left: .5em;
}

#root {
    display: flex;
    justify-content: space-evenly;
    width: 1000px;
    left: 50%;
    position: relative;
    margin-left: -500px;
}

#root textarea {
    display: block;
    resize: none;
    width: 350px;
    height: 95%;
}

#root form {
    margin-top: 1em;
    width: 350px;
}

#root form label {
    color: black;
    display: block;
    font-size: smaller;
    font-weight: bold;
    text-align: left;
    margin-left: 1em;
}

#root form input, 
#root form button,
#root form select {
    display: block;
    margin-bottom: .5em;
}